<!-- recall that embedded javascript is a templating language, hold placeholders for HTML code.-->
<!-- Used in node.js when working with the Express framework. You can embedd JS code inside of an HTML file. -->
<!-- EJS is accessed by default in the view directory. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Precedence</title>
    <link rel="stylesheet" href='/styles/home.css' type='text/css'>
</head>
<body>
    <header>
        <h1>First Precedence</h1>
        <h2 class="tagline">Simplicity to aid your Productivity</h2>
    </header>
    <main class='container'>
        <!-- using id so we can get document information from script. -->
        <form action="/addtask" method="POST">
        <input type="text" name="newtask" placeholder="Create a Task!" id="input"><button id="to-do-add-button">Add Task</button>
        <h2>Added Task</h2>
            <% for ( let i = 0; i < task.length; i++){ %>
        <li><input type="checkbox" name="check" value="<%=task[i] %>" /> <%= task[i] %> </li>

        <% } %>
        <button formaction="/removetask" type="submit"> Remove </button>
        </form>

    </main>
    <script src='./home.js'></script>
</body>
</html>

