<!-- <h1><%= name %></h1> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Precedence</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css"> 
</head>

<body>
    <header class="container">
        <div class="image-nav-bar">
            <img class="flex-postit-image" src="./img/post-it.png" alt="" /> 
        </div>
        <div class="login-setup-nav-bar">
            <button class="flex-button button1"><a href="./login">Log In</a></button>
            <button class="flex-button button2"><a href="./register">Sign Up</a></button>
        </div>
    </header>
    <main class="main-container">
        <img class="center-penguin" src="img/penguin.png" alt="Linux Penguin"> <!-- PLACEHOLDER -->
    </main>
</body>

</html>