html, body{
    font-size: 16px;
    width: 100%;
    background-color: lightgoldenrodyellow;
}
.container{
    display: flex; /* creates a flex group */
    flex-direction: row;
    width: 100%;
}
div.image-nav-bar{
    display: inline-flex;
    width: 50%; /* the left hand side of the flex container will container an image */
}
img.flex-postit-image{
    justify-content: flex-end;
    width: 10%;
    height: auto;
    padding-left: 1.2rem; /* rem=root em. This will multiply the font-size of the html file by 1.2 [16px * 1.2] */
}
div.login-setup-nav-bar{
    display: inline-flex;
    width: 50%; /* our main container will be split with the right hand and left hand side.*/
}
button.flex-button{
    padding: 10px; /* our button structure */
    width: 10%;
    max-height: 50%;
    text-align: center;
    font-size: 1rem;
    transition-duration: 0.7s;
    cursor: pointer;
}
/* Need to fix text that shrinks at a certain width */
.button1{ /* specific style applied to "Log In" */
    border: 2px solid blue;
    color: blue;
    background-color: white; 
}

/* Need to fix text that shrinks at a certain width */
.button2{ /* specific style applied to "Sign Up" */
    border: 2px solid blue;
    color: white;
    background-color: blue;
}

.button1:hover{
    background-color: antiquewhite;
    color: blue;
}
.button2:hover{
    background-color: blue;
    color: antiquewhite;
}

